.Cabecera
{
	background-color: green;
}
.Icono
{
	width: 80px;
	height: 80px;
}
.Acerca
{
	text-align: center;
}
.TextoMarcador
{
	width: 300px;
	text-align: center;
}
.ValorMarcador
{
	width: 300px;
	text-align: right;
	background-color: orange;
}


